.category-button {
  display: flex;
  border-radius: 20px;
  background-color: #eeeeee;
}

.category-button div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.category-button-title {
  font-size: 14px;
}
