.home-category-heading {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.home-container {
  padding: 20px;
  height: 100vh;
}

.home-container-category-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
}
