.home-category-heading {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.home-container {
  padding: 20px;
  padding-top: 80px;
  overflow: auto;
  padding-bottom: 100px;
}

.home-container-category-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.home-container-stories-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.home-container-stories-container-item {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.home-container-stories-container-item img {
  width: 150px;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: #f3f3f3;
}

@media screen and (min-width: 500px) {
  .home-container-stories-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .home-container-category-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
