.rootheader-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.rootheader-container-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
