.bottomtabnavigator-container {
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100vw;
  height: 70px;
  background-color: blue;
}

.bottomtabnavigator-container-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
