.bottomtabnavigator-container {
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100vw;
  height: 70px;
  background-color: white;
  border-bottom: 2px solid #ccc;
}

.bottomtabnavigator-container-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomtabnavigator-container-button-container.selected {
  color: #721CFF;
  border-bottom: 2px solid #721CFF;
  /* transition: border-bottom 0.2s ease-in-out; */
}

.bottomtabnavigator-container-button-container.selected svg path {
  stroke: #721CFF;
}


